.leet-main {
  padding: 40px;
  background-color: rgb(247, 248, 250);
}

.header-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.header img {
  height: 100px;
  width: 100px;
}

.header div {
  font-size: 80px;
}

.leetcode-body {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 30px 0px;
  justify-content: space-between;
  margin-top: 0px;
}

.user-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  box-shadow: 5px 5px 15px rgb(215, 217, 221), -5px 5px 15px rgb(215, 217, 221);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.user-container:hover {
  box-shadow: 10px 10px 25px rgb(160, 162, 165),
    -10px 10px 25px rgb(160, 162, 165);
}

.user-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-details img {
  width: 100%;
  border-radius: 10%;
  max-width: 100px;
  height: auto;
  max-height: 125px;
  object-fit: contain;
  display: block;
}

.Name-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: Quicksand-Light;
  font-size: 20px;
  gap: 30px;
}

.rank {
  color: #6a6565;
}

.location-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Quicksand-Light;
}

.location-container img {
  height: 20px;
  width: 20px;
  padding-top: 10px;
}

.location {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  gap: 20px;
}

.location-address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: justify;
}

#java img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.location-java {
  padding: 0px 5px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(242, 243, 244);
}

.leet-border-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.leet-border-line {
  width: 85%;
  background-color: #c9bfbf;
  height: 2px;
  border-radius: 2%;
}

.language-container {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  justify-content: center;
  flex-direction: column;
  font-family: Quicksand-Light;
}

.language-header {
  font-size: 25px;
}

.languages {
  padding-top: 20px;
}

.language-java {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.language-problem-count {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.language-problem-count p {
  font-size: 15px;
}

.language-java-name {
  width: auto;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: rgb(242, 243, 244);
}

.days {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
  gap: 20px;
}

.problems {
  width: 100%;
}

.problems {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.problems-solved-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(215, 217, 221), -5px 5px 15px rgb(215, 217, 221);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.problems-solved-container:hover {
  box-shadow: 10px 10px 25px rgb(160, 162, 165),
    -10px 10px 25px rgb(160, 162, 165);
}

.badges-container {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(215, 217, 221), -5px 5px 15px rgb(215, 217, 221);
  transition: box-shadow 0.3s ease;
}

.badges-container:hover {
  box-shadow: 10px 10px 25px rgb(160, 162, 165),
    -10px 10px 25px rgb(160, 162, 165);
}

.problems-solved-number {
  height: 25vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.problems-solved-number-container {
  width: 60%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.2vw solid black;
}

.solved-number {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.solved-number span {
  font-family: Quicksand-Light;
  font-size: 2.5vw;
}

.solved-number p {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0.5vh;
  font-size: 1.5vw;
}

.solved-tick-container {
  width: 100%;
  height: 40%;
}

.solved-tick {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-family: Quicksand-Light;
}

.solved-tick img {
  height: 5vh;
  width: 5vh;
}

.solved-tick p {
  display: flex;
  align-items: flex-end;
  justify-self: center;
  font-size: 1.5vw;
}

.problems-solved-level {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.problem-solved-easy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 5px;
  font-family: Quicksand-Light;
  font-size: 15px;
  height: 40px;
  width: 80px;
  background-color: rgb(250, 250, 250);
  border-radius: 5%;
  padding: 8px 0px;
}

.problem-solved-easy-header {
  color: skyblue;
}

.problem-solved-medium-header {
  color: orange;
}

.problem-solved-hard-header {
  color: red;
}

.badges-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.badges-container p {
  height: 10%;
  font-family: Quicksand-Light;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  margin-top: 0px;
  margin-left: 10px;
  cursor: pointer;
}

.badges-images {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}

.badges-images img {
  max-width: 20%;
  height: auto;
  max-height: 100px;
  object-fit: contain;
}

.total-days {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 10px;
  background-color: white;
  font-family: Quicksand-Light;
  color: #6a6565;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(215, 217, 221), -5px 5px 15px rgb(215, 217, 221);
  padding-bottom: 40px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.total-days:hover {
  box-shadow: 10px 10px 25px rgb(160, 162, 165),
    -10px 10px 25px rgb(160, 162, 165);
}

.total-days-streak {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.total-active-days {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.max-streak {
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.max-streak p {
  font-size: 20px;
  color: black;
}
.total-active-days p {
  font-size: 20px;
  color: black;
}

.total-days-image {
  width: 100%;
}

.total-days-image img {
  max-width: 100%;
  height: auto;
  display: block;
}
