.home-container {
  background-color: rgb(245, 223, 78);
  padding: 20px;
  height: 100%;
}

.home-header {
  display: flex;
  justify-content: space-between;
}

.header-item {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.header-item img {
  height: 15px;
  width: 15px;
}

.header-item div {
  margin-left: 10px;
}

.home-content {
  display: flex;
  justify-content: space-around;
  height: 625px;
  flex-direction: row;
  padding-top: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 60px;
}

.info h1 {
  font-family: "Quicksand-Light";
  font-size: 30px;
}

.info h2 {
  font-family: "Quicksand-Light";
  font-size: 50px;
  margin-top: 15px;
}

.info p {
  font-family: "Quicksand-Light";
  font-size: 20px;
  margin-top: 15px;
}

.Image-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.image-wrapper {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.image-wrapper img {
    height: 95%;
    width: 95%;
    border-radius: 50%;

}