.qrcode-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.qrcode-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px 0px;
}

.qrcode-head {
    /* margin-bottom: 20px; */
    border-bottom: 2px solid rgb(245,223,78);
}

.qrcode-body {
    display: flex;
    align-items: center;
    /* padding: 30px 200px; */
    justify-content: space-around;
}

.qrcode-body img {
    height: 40vh;
    width: auto;
    border: 1px solid rgb(189, 170, 170);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(215, 217, 221), -5px 5px 15px rgb(215, 217, 221);
    transition: box-shadow 0.3s ease;
}

.qrcode-body img:hover {
    box-shadow: 10px 10px 25px rgb(160, 162, 165), -10px 10px 25px rgb(160, 162, 165);
    cursor: pointer;
}
